
* {
  -moz-user-select: none;  
  -ms-user-select: none;  
  -webkit-user-select: none;  
  user-select: none;  
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  z-index: 0;
}

h1 {
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  color: #ddd;
  font-family: helvetica;
  font-size: 1.3rem;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px; 
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1;
}

#count {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-family: Orbitron;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px; 
  position: absolute;
  text-align: center;
  right: 0;
  top: 80px;
  z-index: 1;
}

#count h2 {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

#instructions {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  font-family: helvetica;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px; 
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1;
}
