.tennis_page
  height 100vh
  width 100vw
  overflow hidden
  #count
    color #FFFFFF
    left 0
    margin 0 auto
    padding 8px 16px
    position absolute
    text-align center
    right 0
    top 16px
    z-index 1
    h2
      font-size 60px
      line-height 60px
      margin 0
      color #75FF60
  #instructions
    bottom 0
    color #FFFFFF
    left 0
    margin 0 auto
    padding 8px 16px
    position absolute
    right 0
    text-align center
    z-index 1
    background-color rgba(0, 0, 0, .5)
    backdrop-filter blur(5px)