@font-face {
  font-family: exc;
  src: url('./fonts/exc.ttf');
}

*
  padding 0
  margin 0

.gravrity_page
  height 100vh
  width 100vw
  overflow hidden
  .webgl
    position fixed
    top 0
    left 0
    outline none
  .github
    position fixed
    left 0
    bottom 0
    z-index 1
    color rgba(255, 255, 255, .6)
    display flex
    align-items center
    padding 16px
    transition all .25s ease-in-out
    text-decoration none
    font-size 14px
    &:hover
      opacity .5
    .author
      padding-left 8px
  .title-zone
    position fixed
    width 100%
    bottom 24px
    left 0
    font-family exc
    .title
      font-size .65rem
      color rgba(255, 255, 255, 1)
      text-align center
      letter-spacing 1em
      font-weight 600
      margin-bottom 24px
      text-shadow 1px 1px 1px #fffc00, 0px 2px 2px #fffc00, 0px 4px 8px #fffc00
    .subtitle
      font-size .45rem
      color rgba(255, 255, 255, 1)
      text-align center
      font-weight 500
      letter-spacing .5em

@media only screen and (max-width: 900px) {
  .gravrity_page .title-zone .title {
    font-size: .4rem;
  }
  .gravrity_page .title-zone .subtitle {
    font-size: .3rem;
  }
}
@media only screen and (max-height: 640px) {
  .gravrity_page .title-zone .title {
    font-size: .4rem;
  }
  .gravrity_page .title-zone .subtitle {
    font-size: .3rem;
  }
}