.home_page
  .page_title
    margin 8px 0 24px
    text-align center
    width 100%
    color #FFFFFF
    font-size 64px
    letter-spacing .1em
    text-shadow     0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
                    0 7px 0 hsl(174,5%,61%),
                    0 8px 0 hsl(174,5%,60%),
                    0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                  0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3)
  .MuiGrid-container
    .grid_item
      position relative
      filter saturate(.9)
      .three_logo
        position absolute
        top 14px
        right 16px
        display inline-block
        height 24px
        width 24px
        z-index 2
        background url('./images/3d.png') no-repeat center
        background-size 100% 100%;
        filter drop-shadow(0px 0px 8px rgba(0, 0, 0, .5))
        transition all .4s ease-in-out
      &:hover
        filter saturate(1)
        .three_logo
          transform rotate(360deg)
