*
  padding 0
  margin 0

.rick_and_morty_page
  height 100vh
  width 100vw
  overflow hidden
  background #000 url('./images/bg.jpg') no-repeat center
  background-size cover
  .webgl
    position fixed
    top 0
    left 0
    outline none
  .github
    position fixed
    left 0
    bottom 0
    z-index 1
    color rgba(255, 255, 255, .8)
    display flex
    align-items center
    padding 16px
    transition all .25s ease-in-out
    text-decoration none
    font-size 14px
    &:hover
      opacity .5
    .author
      padding-left 8px
  .logo
    display inline-block
    width 40%
    height 0
    padding-top 12%
    background url('./images/text.png') no-repeat center
    background-size 100% 100%
    position fixed
    bottom 16px
    right 5%
