:root {
  --yellow-color: #f9f002;
  --border-color: #8ae66e;
}

.earth_digital
  height 100%
  width 100%
  overflow hidden
  .logo
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    z-index 5
    &::after
      display inline-block
      content ''
      width 80%
      height 180%
      background url('./images/logo.png') no-repeat center
      background-size auto 100%
      filter drop-shadow(0 1px 5px rgba(0, 100, 200, .5))
  .hud
    position fixed
    z-index 2
    &.header
      height 80px
      width 100%
      left 0
      top 0
      color: var(--yellow-color)
      background #f9f002
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 75% calc(100% - 35px), 72.5% 100%, 27.5% 100%, 25% calc(100% - 35px), 0 calc(100% - 35px), 0 0);
      display flex
      justify-content space-between
      .left
        width 27.5%
        height 100%
      .middle
        width 45%
        height 100%
      .right
        width 27.5%
        height 100%
    &.aside
      height calc(100vh - 80px)
      width 400px
      bottom 0
      display flex
      flex-direction column
      justify-content space-between
      overflow hidden
      padding 0 16px 16px
      &.left
        left 0
      &.right
        right 0
      .box
        width 100%
        height 30%
        padding: 4px
        box-sizing border-box
        position: relative
        font-size: 1.2rem
        color: var(--yellow-color)
        border: 30px solid var(--yellow-color)
        border-right: 5px solid var(--yellow-color)
        border-left: 5px solid var(--yellow-color)
        border-bottom: 24px solid var(--yellow-color)
        background-color: #000
        clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px))
        &::before
          content: "P-14"
          display: block
          position: absolute
          bottom: -12px
          right: 25px
          padding: 2px 2px 0px 2px
          font-size: 0.6rem
          line-height: 0.6rem
          border-left: 2px solid var(--border-color)
          background-color: #000
          color: var(--yellow-color)
        &.inverse
          border: none
          padding: 40px 15px 30px
          color: #000
          background-color: var(--yellow-color)
          border-right: 2px solid var(--border-color)
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          &::before
            content: "T-71"
            right: 90px
            bottom: 9px
            background-color: #000
            color: var(--yellow-color)
        &.dotted, &.dotted::after
          background: var(--yellow-color)
          background-image: radial-gradient(#00000021 1px, transparent 0)
          background-size: 5px 5px
          background-position: -13px -3px
        .chart
          height 100%
          width 100%
        &.box_0
          display flex
          justify-content space-between
          .cover
            width 45%
            height 100%
            background url('./images/role_0.png') no-repeat center
            background-size auto 100%
          .info
            width 55%
            height 100%
            padding-left 16px
            font-size 14px
            text-align justify
            text-align-last left
            word-break break-all
            line-height 1.5
            overflow hidden
            text-overflow ellipsis
            white-space pre-wrap