*
  margin 0
  padding 0
  -webkit-user-select none
  -moz-user-select none
  user-select none
  box-sizing border-box

#metaverse
  height 100%
  width  100%
  overflow hidden

.webgl
  position fixed
  top 0
  left 0
  outline none

#info
  font-family monospace
  font-weight normal
  position absolute
  top 20px
  left 50%
  width 100%;
  text-align center
  transform translateX(-50%)
  -webkit-transform translateX(-50%)
  font-size 14px
  span
    color wheat
