*
  margin 0
  padding 0
  -webkit-user-select none
  -moz-user-select none
  user-select none
  box-sizing border-box

#metaverse
  height 100%
  width  100%
  overflow hidden
  .webgl
    position fixed
    top 0
    left 0
    outline none
  #info
    font-family monospace
    font-weight normal
    position absolute
    top 20px
    left 50%
    width 100%;
    text-align center
    transform translateX(-50%)
    -webkit-transform translateX(-50%)
    font-size 14px
    span
      color wheat
  .tool
    position fixed
    right 0
    top 0
  .loading
    position fixed
    height 100%
    width 100%
    z-index 99
    background rgba(46, 66, 77, .6)
    filter drop-shadow(0px 1px 1px rgba(0, 0, 0, .25))
    backdrop-filter blur(10px)
    display flex
    justify-content space-around
    align-items center
    .box
      width 75%
      .progress
        font-size 3.2rem
        color #F5F5F5
        text-shadow 0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),
                   0 0 5px rgba(0,0,0,.05),
                  0 1px 3px rgba(0,0,0,.2),
                  0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.2),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.3)
      .description
        color #F5F5F5
        font-size 1.4rem
        text-align justify
        text-align-last left
        line-height 1.8
        margin 24px auto 36px
        span
          color #FFFC00
          background rgba(0, 0, 0, .25)
          border-radius 8px
          padding 0 4px
      .start_button
        height 48px
        width 240px
        border none
        outline none
        background #fffc00
        -webkit-appearance none
        font-size 1.2rem
        color #000000
        border-radius 24px
        font-weight 600
        transition background .25s ease-in-out
        box-shadow 1px 1px 4px rgba(0, 0, 0, .25)
        animation  bounce 1s infinite ease-in-out
        &:hover, &:active
          background #FFFF7F
.result
  position fixed
  height 100%
  width 100%
  z-index 99
  background rgba(46, 66, 77, .6)
  filter drop-shadow(0px 1px 1px rgba(0, 0, 0, .25))
  backdrop-filter blur(10px)
  display flex
  justify-content space-around
  align-items center
  .box
    height 400px
    width 400px
    .text
      font-size 4rem
      color #FFFFFF
      margin-bottom 60px
    .button
      display block
      width 240px
      height 48px
      margin 24px auto 36px
      border none
      outline none
      background #fffc00
      -webkit-appearance none
      font-size 1.2rem
      color #000000
      border-radius 24px
      font-weight 600
      transition background .25s ease-in-out
      box-shadow 1px 1px 4px rgba(0, 0, 0, .25)
      animation  bounce 1s infinite ease-in-out
      &:hover, &:active
        background #FFFF7F

@keyframes bounce
  0%
    transform scale(1)
  50%
    transform scale(1.1)
  100%
    transform scale(1)
