*
  margin 0
  padding 0

html, body
 background #212121 !important

.webgl
  position fixed
  top 0
  left 0
  outline none
  z-index 2

.section
  display flex
  align-items center
  height 100vh
  position relative
  font-family 'Cabin', sans-serif
  color #ffeded
  text-transform uppercase
  font-size 7vmin
  padding-left 10%
  padding-right 10%
  background-size contain
  &:nth-child(odd)
    justify-content flex-end