@font-face {
  font-family: abduction;
  src: url('~@/assets/fonts/abduction.ttf');
}

.shadow_page
  position fixed
  top 0
  left 0
  width 100vw
  height 100%
  scroll-behavior smooth
  overscroll-behavior none
  color #FFFFFF
  overflow hidden auto
  font-family abduction
  cursor none
  .github
    position fixed
    bottom 24px
    left 24px
    z-index 11
    transition opacity .25s ease-out
    &:hover
      opacity .6
  .content
    .section
      -moz-user-select none
      -webkit-user-select none
      -ms-user-select none
      user-select none
      flex-direction column
      align-content center
      justify-content center
      align-items flex-start
      position relative
      z-index 1
      height 100vh
      width 100vw
      overflow hidden
      pointer-events none
      box-sizing border-box
      .webgl
        height 100%
        width 100%
      &.first
        pointer-events none
        font-size 2em
        letter-spacing .5em
        text-align center
        width 100%
        display flex
        height 100vh
        align-content center
        justify-content flex-end
        align-items center
        flex-direction column
        -moz-user-select none
        -webkit-user-select none
        -ms-user-select none
        user-select none
        position relative
        z-index 1
        background linear-gradient(0deg, rgba(5, 5, 5, 1) 20%, rgba(5, 5, 5, 0) 50%)
        overflow hidden
        .info
          position relative
          z-index 1
          .name
            font-size 2em
            line-height 0
            font-weight 100
            letter-spacing .25em
            font-style italic
            color #03c03c
          .title
            margin 10px 0
            font-weight 100
            letter-spacing 0.4em
            font-size 1.8em
            &::after
              content ""
              position absolute
              margin-top 105px
              left calc(50% - 25px)
              width 50px
              height 2px
              background #ffffff70
          .description
            font-size .45em
            letter-spacing 0
            font-family sans-serif
            width 80%
            line-height 28px
            font-weight lighter
            margin 32px auto 16px
            color #c9c9c996
            opacity 0
            transition all 3.2s ease-in-out
            &.ended
              opacity 1
        .webgl
          pointer-events none
          position absolute
          top 0
          left 0
          outline none
          z-index 0
          height 100vh
          width 100vw
          margin 0
          padding 0
          background #000
          background radial-gradient(circle at center center, #171717 0, #050505 58%)
      &.second
        pointer-events all
        font-size 2em
        width 100%
        display flex
        height 100vh
        background #141414
        z-index 1
        margin 0
        padding 0
        overflow hidden
        .second-container
          pointer-events all
          width 100%;
          display flex
          height 100vh
          margin 0
          padding 0 10%
          flex-direction column
          justify-content center
          z-index 2
          background radial-gradient(circle at 90% center, rgba(5, 5, 5, 0) 30%, #141414 70%)
        .webgl
          pointer-events none
          position absolute
          top 0
          left 0
          outline none
          z-index 0
          height 100%
          width 100%
          margin 0
          padding 0
          pointer-events all
          overflow hidden

.lds-roller {
  width 80px
  height 80px
  position absolute
  top 50%
  left 50%
  margin-right -50%
  transform translate(-50%, -50%)
  z-index 5
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f9f0ec;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-text-intro {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 100;
  color: #f9f0ec;
  background: radial-gradient(circle at center center, #5d5d5d 0, #090909 58%);
}

#loading-text-intro.ended {
  transform: translateY(200%);
}

nav {
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 2;
}

span {
  display: inline-block;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, .3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: transform .8s ease, opacity 0.6s ease;
  z-index: 2;
  border: .5px solid rgba(255, 255, 255, .1);
}

.a {
  display: inline-block;
  color: #fff;
  padding: 1rem;
  margin-right: 4rem;
  letter-spacing: .4em;
  font-size: 1.2em;
  transition: all 0.3s ease, color 0.3s ease;
}

nav.header .a:hover {
  cursor: pointer;
  color: rgb(175, 175, 175);
  transform: scale(1.1);

}

nav.header .a:hover~.cursor {
  transform: translate(-50%, -50%) scale(5);
  opacity: 0.1;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important;
}
.header {
  position: absolute;
  top: -2em;
  left: 0;
  color: #fff;
  font-size: .8em;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: all 1.8s ease-in-out;
  padding: 0;
  margin: 0;
}

.header.ended {
  top: 3em;
  opacity: 1;
}

.header>span {
  padding: 0 3.25em;
  letter-spacing: .4em;
  position: relative;

}

.header>span.active:after,
.first {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.header>span.active:after {
  content: "";
  bottom: -10px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.second-container>ul {
  list-style: none;
  display: inline-flex;
  padding: 0px;
  margin: 0px 0px 64px 64px;
  ccolor: rgba(255,255,255, .11);
  z-index: 2;
}
.second-container>ul>li.active:after {
  content: "";
  top: 20px;
  width: 50px;
  height: 2px;
  background: #fff;
  position: relative;
  left: 0px;
  display: block;
}
.second-container>ul>li {
  padding-right: 32px;
  transition: all 0.8s ease-out;
  font-size: 1.2em;
}
.second-container>ul>li:hover {
  color: #f5f5f5;
  pointer-events: all;
  cursor: pointer;
}

.second-container>ul>li:hover~nav.header.ended.cursor {
  transform: translate(-50%, -50%) scale(5);
  opacity: 1;
}

.second-container>ul>li.active {
    color: #f5f5f5;
}

.second-container .text {
  font-size: 1.4em
  width: 30%
  color: rgba(255, 255, 255, .8)
  margin-left: 60px
  height: 300px
  line-height: 2
  letter-spacing: 8px
  text-align left
}

@media only screen and (max-width: 660px) {
  .a {
    padding: 10px;
    margin-right: 0rem;
    letter-spacing: 0.3em;
  }
  .footer {
    margin-bottom: 20px;
  }
  .header>span {
    padding: 0 1em;
  }
  .header {
    font-size: .6em;
  }
  .main-section .product-display h3 {
    width: 260px;
    font-size: 42px;
    margin-left: 30px;
    line-height: 45px;
  }
  .first>h1 {
    margin: 10px 0;
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 13vw;
  }
  .first>p {
    width: 85%;
    line-height: 22px;
  }
  .second-container {
    padding: 0;
    justify-content: flex-end;
  }
  .second-container>ul {
    margin: 0px 0px 30px 30px;
    width: 80%;
  }
  .second-container>ul>li {
    padding-right: 20px;
    transition: all 0.8s ease-out;
    font-size: 20px;
  }
  .second-container>p {
    width: 85%;
    margin-left: 30px;
    line-height: 21px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .header .a { font-size: 1em !important; }
  .first .info .name { font-size: 1.2em !important; }
  .first .info .title { font-size: 1em !important; }
  .second ul { margin: 10px 0px 20px 64px; }
  .second ul li { font-size: .55em !important; }
  .second .text { font-size: .75em !important; }
}
@media only screen and (max-height: 640px) {
  .header .a { font-size: 1em !important; }
  .first .info .name { font-size: 1.2em !important; }
  .first .info .title { font-size: 1em !important; }
  .second ul { margin: 10px 0px 20px 64px; }
  .second ul li { font-size: .55em !important; }
  .second .text { font-size: .75em !important; }
}