.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  width: 4px !important;
  background: 0 0 !important;
  cursor: pointer !important
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(3, 192, 60, .5) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 1px !important;
  background-clip: padding-box !important
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(3, 192, 60, .5) !important
}
*::-webkit-scrollbar-thumb:active,body.platform-win32 ::-webkit-scrollbar-thumb:hover {
  border-width: 1px !important;
  background-color: rgba(3, 192, 60, .5) !important;
  cursor: pointer !important
}

.loading_page {
  height: 100vh;
  overflow: hidden;
  color: #03c03c;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}