.ring_page
  width 100vw
  height 100vh
  overflow hidden
  background url('./images/bg.webp') no-repeat center
  background-size cover
  cursor default
  &::after
    display inline-block
    content ''
    width 60%
    height 0
    padding-top 16.23%
    background url('./images/logo.png') no-repeat center
    background-size 100% auto
    position fixed
    bottom 1%
    left 50%
    margin-left -30%
    filter drop-shadow(0px 1px 8px rgba(0, 0, 0, .2))